<%@ page import="java.time.DayOfWeek" %>
<%@ page import="java.time.LocalDate" %>
<%@ page import="java.util.Map" %>
<%@ page import="java.util.TreeMap" %>
<%@ page contentType="text/html;charset=UTF-8" pageEncoding="utf-8" %>

<div>
    Kalendarz:
<%  // pobieram dziesiejszy dzien
    DayOfWeek today = LocalDate.now().getDayOfWeek();
    for (DayOfWeek day : DayOfWeek.values()) {
    	// jesli przetwarzamy dzisiejszy dzien tygodnia
        if (today == day) {
        	%>[<%
        }

        // niedziele zaznaczamy na czerwono
        if (day == DayOfWeek.SUNDAY) {
        	%><span style="color: red"><%=day.name().toLowerCase()%></span><%
        } else {
        	%><%=day.name().toLowerCase()%><%
            // jesli przetwarzamy dzisiejszy dzien tygodnia
            if (today == day) {
                %>]<%
            }
            %> | <%
        }
    }
%>
</div>
<%
    Map<String, String> menuConfig = new TreeMap<>();
    menuConfig.put("index", "/index.jsp");
    menuConfig.put("numbers", "/numbers.jsp");
    menuConfig.put("hello", "/hello.jsp");

    String active = request.getServletPath();
%>
<div>
    Menu:
<%
    int items = 1;
    for (Map.Entry<String, String> conf : menuConfig.entrySet()) {
        if (conf.getValue().equals(active)) {
            %><a style="color: blue"><%=conf.getKey()%></a><%
        } else {
            %><a href="<%=conf.getValue()%>"><%=conf.getKey()%></a><%
        }

        if (menuConfig.size() > items) {
    	    %> | <%
        }
        items++;
    }
%>
</div>